<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'tradingplatform:index' %}">CryptoSim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <style>
    a:hover{
    background-color:dimgray;
    color:white;
  }
  a:active{
    background-color:#000;
    color:white;
  }
  </style>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tradingplatform:trade' %}">Trade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tradingplatform:portfolio' %}">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tradingplatform:following' %}">Following</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'members:logout' %}">Logout</a>
      </ul>
  </div>
    {% include 'balance.html' %}
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'members:login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'members:register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
